$space-unit: 18px;

$unit0_25: $space-unit / 4;
$unit0_5: $space-unit / 2;
$unit1: $space-unit;
$unit1_5: $space-unit * 1.5;
$unit1_75: $space-unit * 1.75;
$unit2: $space-unit * 2;
$unit5_5: $space-unit * 5.5;
