$space-unit: 18px;

$none: 0;
$unit0_25: $space-unit * 0.25;
$unit0_5: $space-unit * 0.5;
$unit0_75: $space-unit * 0.75;
$unit1: $space-unit;
$unit1_25: $space-unit * 1.25;
$unit1_3: $space-unit * 1.3;
$unit1_5: $space-unit * 1.5;
$unit1_75: $space-unit * 1.75;
$unit2: $space-unit * 2;
$unit3: $space-unit * 3;
$unit5_5: $space-unit * 5.5;
$unit6: $space-unit * 6;
$unit7_75: $space-unit * 7.75;
$unit8_5: $space-unit * 8.5;
$unit16: $space-unit * 16;
$unit23_5: $space-unit * 23.5;
$unit30: $space-unit * 30;

@mixin padding_content(
  $padding_top: $unit2,
  $padding_right: $unit2,
  $padding_bottom: $unit3,
  $padding_left: $unit2
) {
  padding: $padding_top $padding_right $padding_bottom $padding_left;
}
