@use "../../theme/palette";
@use "../../theme/spacing";

@mixin list_item_active() {
  height: spacing.$unit1_75;
  border-bottom: spacing.$unit0_25 solid palette.$blue;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  min-height: spacing.$unit5_5;
  padding: 0 spacing.$unit1;

  li {
    margin-right: spacing.$unit1;
    position: relative;
  }

  a {
    display: block;
    color: palette.$blue_dark;
    height: spacing.$unit2;

    &:hover {
      color: palette.$blue;
    }
  }
}

.list__item--active {
  height: spacing.$unit1_75;
  border-bottom: spacing.$unit0_25 solid palette.$blue;
}

