@use "../../theme/palette";
@use "../../theme/spacing";
@use "../../theme/layer";

@mixin list_item_active() {
  height: spacing.$unit1_75;
  border-bottom: spacing.$unit0_25 solid palette.$blue;
}

header {
  position: relative;
  z-index: layer.$layer_1;

  a {
    color: palette.$blue_dark;

    &:hover {
      color: palette.$blue;
    }
  }
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: spacing.$unit1;
  margin: 0;
  @include spacing.padding_content(
    $padding_top: spacing.$none,
    $padding_bottom: spacing.$none
  );
  min-height: spacing.$unit5_5;

  li {
    position: relative;
  }

  a {
    display: block;
    height: spacing.$unit2;
  }
}

.list__item--active {
  height: spacing.$unit1_75;
  border-bottom: spacing.$unit0_25 solid palette.$blue;
}
