@use "../../../../theme/palette";
@use "../../../../theme/spacing";

.nav__menu__wrapper {
  position: relative;
}

.nav__menu {
  position: absolute;
  width: 100vw;
  background-color: palette.$grey;
  @include spacing.padding_content();
  clip-path: ellipse(100% 100% at 15% 7.5%);

  ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    gap: spacing.$unit1_5;
  }
}
