@use "../../../../theme/typography";
@use "../../../../theme/spacing";

.label {
  display: flex;
  align-items: center;
  gap: spacing.$unit0_5;

  * {
    @include typography.font($size: typography.$font_size_xxs);
  }

  div {
    display: flex;
    align-items: center;
    gap: spacing.$unit0_25;
  }
}
